body,
input,
textarea,
select,
button,
::placeholder {
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-secondary-600;
}